{% extends "layout.html" %}
{% block title %}Новости — Либертарианцы Екатеринбурга{% endblock %}
{% block content %}
<section class="title">
    <div class="h1 title-logo">
        <a class="title-logo-link" href="/">
            <img class="title-logo-img" src="/img/logo.png" />
            Либертарианцы Екатеринбурга
        </a>
    </div>
    <div class="title-motto">
        <div class="title-motto-header">Присоединяйся к&nbsp;сторонникам свободы на&nbsp;Урале</div>

        <div class="title-motto-lead">
            Мы&nbsp;&mdash; активисты Либертарианской Партии России в&nbsp;Екатеринбурге и&nbsp;Свердловской&nbsp;области. Выступаем за&nbsp;свободную экономику, независимое местное самоуправление, суверенитет личности и&nbsp;против
            цензуры в&nbsp;<a href="/articles/internet/">интернете</a>.<br />Верим в&nbsp;тебя, а&nbsp;не&nbsp;в&nbsp;государство!
        </div>
    </div>
</section>

<section class="contacts">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid img-circle contacts-img" src="/img/news.jpg" alt="Участники пикета" />
            <h2 class="contacts-header">Подпишись на&nbsp;новости</h2>
            <p>Подпишись на&nbsp;наш <a href="tg://resolve?domain=lpr_ural">телеграм-канал</a> или&nbsp;вступай в&nbsp;<a target="_blank" href="https://vk.com/lpr_ekb">группу ВКонтакте</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid img-circle contacts-img" src="/img/chat.jpg" alt="Встреча отделения" />
            <h2 class="contacts-header">Свяжись напрямую</h2>
            <p>Пообщайся с&nbsp;активистами в&nbsp;<a href="tg://resolve?domain=libertarians_of_ural">открытом телеграм-чате</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid img-circle contacts-img" src="/img/join.jpg" alt="Российские флаги" />
            <h2 class="contacts-header">Вступай в&nbsp;партию</h2>
            <p>Заполни <a target="_blank" href="https://libertarian-party.ru/join">анкету</a>, чтобы стать официальным сторонником или&nbsp;членом ЛПР</p>
        </div>
    </div>
</section>

<section class="news-block">
    <div class="d-flex justify-content-between">
        <h2>Последние новости</h2>
        <div class="news-block-all-link"><a href="/news/">Все новости</a></div>
    </div>
    <hr class="divider-muted news-block-header-divider">
    <div class="row news-block-items">
        {% for n in news %}
        <div class="col-md-4">
            <div>{{ n.title }}</div>
            <div><small>{{ n.date }}</small></div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="share">
    <h2>Расскажи о нас</h2>
    <p><span class="ya-share2" data-services="vkontakte,facebook,twitter"></span></p>
</section>
{% endblock %}