<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    {% if release %}{% include "counters.html" %}{% endif %}
    <title>{% if meta_title %}{{ meta_title }} — Либертарианцы Екатеринбурга{% else %}Либертарианцы Екатеринбурга{% endif %}</title>
    {% if meta_description %}<meta name="description" content="{{ meta_description }}" />{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% if meta_canonical %}<link rel="canonical" href="{{ meta_canonical }}" />{% endif %}
    <meta property="og:site_name" content="Либертарианцы Екатеринбурга" />
    <meta property="og:title" content="{% if meta_title %}{{ meta_title }} — Либертарианцы Екатеринбурга{% else %}Либертарианцы Екатеринбурга{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />
    {% if meta_description %}<meta name="og:description" content="{{ meta_description }}" />{% endif %}
    <meta property="og:image" content="https://lpr-ekb.ru/img/share.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="420" />
    <meta name="twitter:image" content="https://lpr-ekb.ru/img/share.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% if meta_title %}{{ meta_title }} — Либертарианцы Екатеринбурга{% else %}Либертарианцы Екатеринбурга{% endif %}" />
    {% if meta_description %}<meta name="twitter:description" content="{{ meta_description }}" />{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-128.png" sizes="128x128" />
    <link href="/css/bootstrap-lite.min.css" rel="stylesheet">
    <link href="/css/style.css?v={{static_version}}" rel="stylesheet">
</head>

<body>
    <div class="container">
{% block content %}
{% endblock %}
    <footer></footer>
    </div>
    <script src="https://yastatic.net/share2/share.js"></script>
</body>

</html>