{% extends "layout.html" %}
{% block content %}
{% include "logo.html" %}
<section class="news-index">
    <div class="news-index-content">

        <div class="news-index-header">
            <h1 class="news-index-header-title">Новости</h1>
        </div>
        <div>
            {% for n in news %}
            <div class="news-index-item">
                <div>{{ n.title }}</div>
                <hr class="divider-muted news-index-item-divider">
                <small class="news-page-header-date">{{ n.date }}</small>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}